.our-team-box {
    background: $teamBgColor;
}

.our-team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primaryColor;
    margin-bottom: 50px;
}

.our-team__figure {
    display: flex;
    flex-direction: row;
    gap: 30px;

    &--img {
        background: white;
        /* material shadow v1 */
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        & img {
            object-fit: cover;
        }
    }

    & figcaption {
        text-align: center;
        margin: auto;
        padding: 30px 0;
     }

     &--name {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        line-height: 1.19;
        color: $primaryColor;
    }

    &--position {
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: $secondaryColor;
    }
}

.social-icon {
    width: 20px;
    height: 20px;
}

.our-team__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;

    &--item {
        fill: $socialIconFill;
        background-color: white;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition-property: fill, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:active, &:focus {
                background-color: $brandColor;
                fill: white;
        }
    }
}

