/* Colors */

$brandColor: #2196F3;

$primaryColor: #212121;
$secondaryColor: #757575;
$btnHoverColor: #1976d2;
$socialIconFill: #afb1b8;

/* background color */

$advIconBgColor:  #f5f4fa;
$bannerBgColor:  #2f303a;
$teamBgColor: #f5f4fa;
$footerBgColor: #2f303a;

/* Border radius */

$cardBorderRadius: 4px;
$btnBorderRadius: 4px;


/* Buttons font */
$btnFontWeight: 700;
$btnFontSize: 16px;
$btnLetterSpacing: 0.06em;
$btnLetterColor: white;



